.top_bar{background:#F26522; padding:5px 0px;}
.social_icons{margin-right:5px;}
.contact_info{color:#fff; font-size:22px;}
.my_menu{margin-top:27px;}
.my_menu .navbar-default{background:none; border:none;}
.my_menu .navbar-nav .active a , .my_manu .navbar-nav .active a:hover{background:#F26522;color:#fff;}
.my_menu .navbar-nav li a:hover{background:#F26522;color:#fff;}
.languages{margin-top:40px;}
.our_courses{background:radial-gradient(circle, #009cde, #003087); padding:25px 0;}
.our_courses h1{color:#fff;}
.our_courses .top_margin{margin-top:40px;}
 .footer{background:#333333; padding:20px 0;}
 .footer{color:#fff;}
 .footer p{color:#fff;}
 .footer ul{list-style:none; margin:0;padding:0;}
 .footer ul li a{color:#fff;font-size:15px;}
 .heading{border-bottom-style:ridge; padding:5px;border-color:#f161e8;}
 